nginx/web/config.php
nginx/web/.applied_migrations.json
updater/last_update
tor/torrc.d/*
!tor/torrc.d/.gitkeep
tor/hidden_services/*
!tor/hidden_services/.gitkeep
.venv
*.pyc
nginx/vendor/
/.ruff_cache
