parameters:
    phpVersion: 80500
    level: 5
    paths:
        - nginx/web
    excludePaths:
        - nginx/web/config.php (?)
        - nginx/web/*_graph.php
    ignoreErrors:
        -
            message: '#might not be defined#'
            path: nginx/web/*
