<table width="300px" cellspacing="0" cellpadding="0" class="displayTable" id="lgndTable">
<tr><td class="HRN">Legend:</td></tr>
<tr class="r"><td style="padding: 1px;">Router is okay</td></tr>
<tr class="R"><td style="padding: 1px;">Router is hibernating</td></tr>
<tr class="d"><td style="padding: 1px;"><img src="/img/routerdown.png" alt=" router is down" title="Router is currently down"/>Router is currently down</td></tr>
<tr class="B"><td style="padding: 1px;">Router is a bad exit node</td></tr>
</table>
