<p class="ts-muted">Query options moved to the Filters modal. They are submitted with GET parameters.</p>
<button type="button" class="ts-button ts-button-primary" data-dialog-open="filters-dialog"><i class="ti ti-adjustments-horizontal" aria-hidden="true"></i>Open filters</button>
