<ul class="ts-legend-list">
	<li><span class="ts-legend-dot ts-legend-ok"></span>Router is okay</li>
	<li><span class="ts-legend-dot ts-legend-hibernating"></span>Router is hibernating</li>
	<li><i class="ti ti-server-off ts-row-icon" aria-hidden="true"></i>Router is currently down</li>
	<li><span class="ts-legend-dot ts-legend-bad"></span>Router is a bad exit node</li>
</ul>
